@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(211, 211, 211);
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

body{
    margin: 0;
}

.center-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(30, 30, 30);
}

.card {
    border-radius: 5px;
    color: rgb(30, 30, 30);
}

.form-area {
    background-color: white;
    padding: 5vh 5vw;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 0 20px;
    width: 25vw;
    font-size: 18px;
}
  
.input-container * {
    margin: 5px 0;
}
  
input{
    font-family: "Ubuntu", sans-serif;
    padding: 7px;
    font-size: 16px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.valid {
    color: green;
}

.inValid{
    color: red;
}

.completeValid{
    display: none;
}

.notCompleteValid{
    display: block;
}

.light-btn,
.dark-btn {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 0 7px;
}

.light-btn {
    background-color: white;
    color: rgb(30, 30, 30);
}
  
.dark-btn {
    background-color: rgb(30, 30, 30);
    color: white;
}
  
.light-btn:hover,
.dark-btn:hover {
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    color: white;
}
  
.light-btn:disabled,
.dark-btn:disabled {
    background-color: rgb(165, 165, 165);
    color: white;
    cursor: default;
}
  
@media screen and (max-width: 1200px) {
    .form-area{
        width: 30vw;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 0 20px;
        width: 30vw;
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .form-area{
        width: 50vw;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 0 20px;
        width: 50vw;
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .form-area{
        width: 70vw;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 0 20px;
        width: 70vw;
        font-size: 18px;
    }
}